/* start of header */
@media only screen and (max-width:767px) {
    .hero-content {
        height: 45vh !important;
        min-height: 350px !important;
    }

    .heading-title {
        font-size: 2rem;
    }

    .heading-subtitle {
        font-size: 1.35rem;
    }
}

/* end of header */

@media only screen and (max-width:767px) {
    .bg-img {
        background-image: none !important;
        height: auto !important;
    }
}

/* start of bars */
.col-full-background,
.img-full-background {
    opacity: 1;
}

.col-full-background-overlay {
    transition: all 0s ease-in-out;
}

.active-inner-col .img-full-background,
.active-inner-col .col-full-background-overlay {
    opacity: 0 !important;
}


.active-inner-col .col-full-background.active .img-full-background {
    opacity: 1 !important;
    transform: scale(1.1);
    transition: all 10s ease-out;
    transition-delay: 25ms;
    transition-property: transform;
}

.active-inner-col .col-full-background.active .col-full-background-overlay {
    opacity: .35 !important;
    transition: all 1s ease-in;
}

.active-inner-col .col-full-background.active .col-full-background-overlay {
    transition: all 0s ease-in-out;
}

.active-inner-col .col-full-background.active {
    z-index: 1 !important;
    overflow: visible;
}

.col-full-background:last-child .col-full-background-borders {
    border-right: 1px solid white;
}

.inner-content * {
    margin: 0;
}

/* start of bars mobile */
@media only screen and (max-width:992px) {
    .img-full-background {
        left: 0 !important;
        width: 100%;
        /* object-position: right; */
    }
}

/* end of bars mobile */

/* end of bars */
/* .col-full-background:first-child,
.col-full-background.active,
.active-inner-col .col-full-background.active~.col-full-background {
    border-left: 1px solid white;
} */

/* .active-inner-col .col-full-background.active~.col-full-background {
    border-right: 0;
} */